/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #212121; /* Dark background */
    color: #ffffff; /* Light text */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

header, footer {
    background-color: #333333; /* Darker header and footer */
    padding: 20px;
    text-align: center;
}

.container {
    display: grid;
    flex-direction: column;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-around;
    height: 100vh;
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Fixed 4x4 grid layout */
    grid-template-rows: repeat(4, 1fr); /* Added this line */
    grid-gap: 10px;
    justify-items: start; /* Align the grid items to the left */
}

.buttons {
    display: flex;
    justify-content: center; /* Center the buttons */
    width: 100%; /* Take up full width */
    padding: 10px 0; /* Add some vertical padding */
}

.results {
    width: 100%;
    max-width: 800px;
}


.cell {
    background-color: #2b2b3d; /* Dark blueish background */
    color: #ffffff; /* Whitish text */
    height: 20vw; /* Adjust as needed */
    width: 20vw; /* Adjust as needed */
    max-width: 250px;
    max-height: 250px;
    border: none; /* Remove default border */
    text-align: center; /* Center text horizontally */
    font-size: 10vw; /* Increased font size */
    border-radius: 5px; /* Add some border radius for visual appeal */
}



.buttons button {
    padding: 40px 80px;
    margin: 0 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #45a049;
}

.results h2 {
    margin-bottom: 10px;
}

#resultsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
